<!DOCTYPE html>
<html>
  <head>
    <title>CountdownApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="has-text-centered" id="header" style="background: #<%= current_color %>;">
      <%= link_to "CountdownTil", root_path, style: "padding: 0.25rem 0.75rem; background: #000; display: inline-block; font-weight: bold; color: #fff; font-size: 0.75rem;" %>
    </div>

    <%= yield %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
